body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #000000;
}


.calculator{
    padding: 25px;
    border-radius: 15px;
    border: solid #0e0d0d 2px;
}

#display{
    padding: 5px;
    margin-bottom: 15px;
    /*background-color: #000000; */
    color: black;
}
.all-buttons{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.numbers {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.numbers [data-value="0"] {
    grid-column: span 2; 
}

.numbers [data-value="equals"] {
    background-color: #ff9200; 
    color: white;
}

.number-btn{
    background-color: #2f2f2f;
    color: white;
}

.operators {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 5px;
}

.operator-btn {
    background-color: #ff9200;
    color: white;
    
}

.actions {
    display: grid;
    grid-column: auto;
}

.action-btn {
    background-color: #ff9200;
    color: white;
}